%button {
    display: inline-block;
    padding: 0.75em 1em;
    @include font();
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color: contrasting-color(color(link));
    background-color: color(link);
    border: none;
    border-radius: 0;

    &:focus,
    &:hover {
        background-color: color(link, active);
        color: contrasting-color(color(link, active));
        outline: none;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
}

button,
input[type="button"],
input[type="submit"],
input[type="cancel"] {
    @extend %button;
    -webkit-appearance: none;
    cursor: pointer;
    user-select: none;
}

a.button {
    @extend %button;
}
