.copy {
    p {
        margin: 0 0 size(1/2);
    }

    h1 {
        margin-bottom: size(1/2);
        @include font(header);
        font-size: font-size(biggest);
    }

    h2 {
        margin-bottom: size(1/4);
        @include font(header);
        font-size: font-size(bigger);
    }

    h3 {
        margin-bottom: size(1/4);
        @include font(header);
        font-size: font-size(big);
    }

    h4 {
        @include font(header);
        font-size: font-size(normal);
    }

    h5 {
        @include font(header);
        font-size: font-size(small);
    }

    h6 {
        @include font(header);
        font-size: font-size(smallest);
    }

    // Lists

    ul,
    ol {
        margin: 0 0 size(1/4) size();
    }

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }

    li {
        margin-bottom: size(1/4);
    }

    li > ul,
    li > ol {
        margin-bottom: 0;
        margin-left: size();
        font-size: 0.95em;

        > li {
            margin-bottom: 0;
        }
    }

    dl {
        margin-bottom: size(1/4);
    }

    dt {
        font-weight: bold;
    }

    dd {
        margin: 0 0 size(1/4);
    }

    // Tables

    table {
        margin: 0 0 size();
        font-feature-settings: "kern", "liga", "tnum";
    }

    th {
        border-bottom: 1px solid color(border);
        font-weight: bold;
        padding: size(1/4) 0;
        text-align: left;
    }

    td {
        border-bottom: 1px solid color(border);
        padding: size(1/4) size(1/2);
    }

    tr,
    td,
    th {
        vertical-align: middle;
    }

    // Miscellaneous Elements

    small {
        color: color(gray, dark);
    }

    hr {
        border-bottom: 1px solid color(border);
        border-left: none;
        border-right: none;
        border-top: none;
        margin: size() 0;
    }

    blockquote {
        border-left: 2px solid color(border);
        color: tint(color(text), 15%);
        margin: size() 0;
        padding-left: size(1/2);
    }

    cite {
        color: tint(color(text), 25%);
        font-style: italic;

        &::before {
            content: "\2014 \00A0";
        }
    }
}
