{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "plugins": [
    "prettier",
    "import"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "curly": "error",
    "no-console": "off",
    "no-else-return": "error",
    "no-inner-declarations": "off",
    "no-var": "error",
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prettier/prettier": [
      "error",
      {
        "tabWidth": 4,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ],
    "strict": "error",
    "quotes": [
      "error",
      "single"
    ],
    "indent": [
      "error",
      4
    ]
  }
}
