# OS and editor files
.DS_Store
*.sublime-project
*.sublime-workspace
.sublime-gulp.cache
*.tmp

# Asset pipeline files
.sass-cache
node_modules
npm-debug.log
src/vendor

# Distribution files
dist/public_html/assets

# Keep empty folders
!.gitkeep
