# OS and editor files
.DS_Store
*.sublime-project
*.sublime-workspace
.sublime-gulp.cache
*.tmp

# Asset pipeline files
.sass-cache
npm-debug.log
node_modules
jspm_packages
src/rev-manifest.json

# Distribution files
dist
src/js/plugins/modernizr.js

# Keep empty folders
!.gitkeep
