# OS and editor files
.DS_Store
*.sublime-project
*.sublime-workspace
.sublime-gulp.cache
*.tmp

# Vagrant
.vagrant

# Asset pipeline files
.sass-cache
node_modules
src/vendor/*
public_html/assets/*

# Keep empty folders
!.gitkeep
