$text-inputs: 'textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="file"], select[multiple]';

fieldset {
    background: tint(color(border), 75%);
    border: 1px solid color(border);
    margin: 0 0 size(1/2) 0;
    padding: size(1/2);
}

input,
label,
select,
textarea {
    display: block;
    @include font();
    font-size: font-size();
    color: color(gray);
}

label {
    font-weight: font-weight(bold);

    &.required::after {
        content: '*';
        color: color(gray);
    }
}

#{$text-inputs} {
    width: 100%;
    margin: 0;
    padding: size(1/4) size(1/2);
    background-color: color(white);
    border: 1px solid color(gray, light);
    border-radius: 0;
    transition: border-color;

    &:hover {
        border-color: color(gray);
    }

    &:focus {
        border-color: color(gray, dark);
        outline: none;
    }

    &::placeholder {
        color: color(gray);
    }
}

textarea {
    height: auto;
}

input[type='checkbox'],
input[type='radio'] {
    display: inline;
    margin-right: size(1/4);
}

select {
    width: 100%;
    border: 1px solid color(gray);
    -moz-appearance: none;
    -webkit-appearance: none;

    &::-ms-expand {
        display: none;
    }

    &::-ms-value {
        color: currentColor;
    }

    option {
        background-color: white;
    }
}

/*
 * Form layouts
 */

.field {
    margin-bottom: size(0.75);
}

.field-group {
    @include clearfix;
    margin-bottom: size(0.75);

    .field {
        float: left;
        margin: 0;
        width: 50%;

        &:first-child {
            padding-right: size(0.375);
        }

        &:last-child {
            padding-left: size(0.375);
        }
    }
}

.field--inline {
    @extend .field;
    @include clearfix;
    @include breakpoint($small-down) {
        label {
            float: left;
            width: 25%;
        }

        #{$text-inputs},
        select {
            float: left;
            width: 75%;
        }
    }
}

.field--inplace {
    @extend .field;
    position: relative;

    label {
        position: absolute;
        left: 1px;
        top: 1px;
        padding: size(1/4) size(1/2);
        font-size: font-size(small);
        line-height: size();
        font-weight: normal;
        color: color(gray);
        cursor: text;
    }
}

.button-group {
    text-align: right;

    a,
    button,
    input {
        margin-left: 1em;
        vertical-align: middle;
    }

    a:not(.button) {
        font-size: 0.85em;
    }
}

// Error display
.form__errors {
    margin-bottom: size(1/2);
    color: color(warning);

    li {
        &::before,
        &::after {
            content: ' – ';
        }
    }
}
