@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// Media queries
@mixin respond($size, $direction: min, $aspect: width) {
    @media all and (#{$direction}-#{$aspect}: $size) {
        @content;
    }
}
@mixin hidpi($density: 1.3) {
    @media only screen and (-Webkit-min-device-pixel-ratio: $density),
    only screen and (-moz-min-device-pixel-ratio: $density),
    only screen and (min-device-pixel-ratio: $density) {
        @content;
    }
}

// Vertically align an element
// http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
@mixin vertical-align {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}
@mixin ghost-vertical-align {
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%; width: .1px;
    }
}

// Set all the link colors at once
@mixin link-colors($normal, $hover: false, $active: false, $visited: false, $focus: false) {
    color: $normal;
    @if $visited {
        &:visited {
            color: $visited;
        }
    }
    @if $focus {
        &:focus {
            color: $focus;
        }
    }
    @if $hover {
        &:hover {
            color: $hover;
        }
    }
    @if $active {
        &:active {
            color: $active;
        }
    }
}

// Hide text visually, leaving it accesible to screen-readers
@mixin hide-text {
    overflow: hidden;
    &:before {
        content: "";
        display: block;
        width: 0;
        height: 100%;
    }
}

// Hides html text and replaces it with an image.
// If you use this on an inline element, you will need to change the display to block or inline-block.
@mixin replace-text($img, $x: 50%, $y: 50%, $width: false, $height: false) {
    @include hide-text;
    background: {
        @if is-url($img) {
            image: $img;
        } @else {
            image: image-url($img);
        }
        repeat: no-repeat;
        position: $x $y;
    };
    @if ($width) {
        width: $width;
    }
    @if ($height) {
        width: $height;
    }
}

@mixin hide-visually {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// Show an ellipsis on text overflow
// Requires inline-block or block for proper styling
@mixin text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Undo list styling
@mixin no-bullet {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
}

// Turn off the bullets for an entire list
@mixin reset-list {
    margin: 0;
    list-style: none;
    li {
        list-style-image: none;
        list-style-type: none;
        margin: 0;
    }
}

// Set the font-size to a multiplier of the base size.
// Optionally also set the line height, either to a
// factor of the base line-height, or automatically
// based on the font size.
@mixin font-size-times($multiplier, $lines: false) {
    $font-size: $multiplier * $base-font-size;
    font-size: $font-size;
    @if ($lines == auto) {
        $lines: lines-for-font-size($font-size);
    }
    @if ($lines) {
        line-height: $lines * $base-line-height / ($font-size / 1em);
    }
}

// Set the font-size to a particular size in ems, and
// set the line height either manually or automatically.
@mixin font-size($size: $base-font-size, $lines: false) {
    @include font-size-times($size / 1em, $lines);
}

// Calculate the minimum multiple of rhythm units needed to contain the font-size.
$line-height-precision: 4 !default;
@function lines-for-font-size($font-size, $precision: $line-height-precision) {
    $lines: ceil($precision * $font-size / $base-spacing) / $precision;
    @return $lines;
}