// Dimensions

$font-size: 17px;
$line-height: 25px;

// Grid

$page-max-width: 1140px;
$page-min-width: 600px;
$gutter-width: $font-size;

// Fonts & Colors

$text-face: "Trebuchet MS", "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", Verdana, "Verdana Ref", sans-serif;
$title-face: "futura-pt", $text-face;

$background: #020001;       // Black
$text-color: #efd290;       // Yellow
$light-color: #999999;      // Grey
$title-color: #efd290;      // Yellow
$link-color: #f26631;       // Orange
$footer-bg: #bd9b6a;        // Tan