// Form Styling
// ------------

form {
    margin: 0 0 $line-height;
    text-align: left;
}

input,
textarea,
select,
label {
    font-family: $text-face;
    @include font-size-times(0.75, 1);
    color: mix($medium-color, $text-color);
}

label {
    display: block;
}

.required {
    color: $danger-color;
}


@import "forms/buttons";
@import "forms/inputs";