<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">

    <title></title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/site.css">

    <script>addEventListener('error', window._e=function f(e){f.q=f.q||[];f.q.push(e)});</script>
    <script src="/assets/scripts/initial.js" async></script>
</head>
<body>

    <a href="#content" class="skip-link">Skip to main content</a>

    <!--[if lt IE 10]>
        <div class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
    <![endif]-->

    <div class="wrapper">
        <header id="masthead" class="header">
            <div class="header__logo">
                <a href="/">Site Name</a>
            </div>
            <nav class="header__nav">
                <button type="button" class="header__nav-toggle" data-toggle="navigation">Menu</button>
                <ul class="header__navigation" id="navigation">
                    <li><a href="/">Home</a></li>
                </ul>
            </nav>
        </header>

        <main id="content" class="content copy" tabindex="-1">
            <h1>Frontend Starter Kit</h1>
        </main>

        <footer class="footer">
            <p class="footer__copyright">&copy; 2017</p>
        </footer>
    </div>

    <script>window.ga_id='UA-XXXXX-Y'</script>
    <script src="/assets/scripts/main.js" async></script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>

</body>
</html>
