.wrapper {
    @include clearfix;
    max-width: $page-width;
    min-width: 320px;
    margin: 0 auto;
    padding: $page-padding-narrow;

    @include breakpoint($medium-only) {
        padding: $page-padding-medium;
    }

    @include breakpoint($large-up) {
        padding: $page-padding;
    }
}

#content {
    clear: both;
    // We have to make it focusable for skip link, but want to hide the outline
    outline: none;
}