body {
    @include font();
    font-size: font-size(normal);
    font-feature-settings: "kern", "liga", "pnum";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    transition-duration: $base-duration;
    transition-timing-function: $base-easing;
}

%header {
    margin: 0;
    @include font(header, normal);
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %header;
}

a {
    color: $base-link-color;
    text-decoration: none;
    transition-property: color;

    &:hover,
    &:active,
    &:focus {
        color: $hover-link-color;
    }
}
