%button {
    display: inline-block;
    padding: 0.75em 1em;
    font-size: $form-font-size;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color: $white;
    background-color: $base-button-color;
    border: none;
    border-radius: $base-border-radius;

    &:focus,
    &:hover {
        background-color: $hover-button-color;
        color: $white;
        outline: none;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
}

button,
input[type="button"],
input[type="submit"],
input[type="cancel"] {
    @extend %button;
    -webkit-appearance: none;
    cursor: pointer;
    user-select: none;
}

a.button {
    @extend %button;
}