.copy {
    p {
        margin: 0 0 space(1/2);
    }

    h1 {
        margin-bottom: space(1/2);
        font-size: $font-size-biggest;
    }

    h2 {
        margin-bottom: space(1/4);
        font-size: $font-size-bigger;
    }

    h3 {
        margin-bottom: space(1/4);
        font-size: $font-size-big;
    }

    h4 {
        font-size: $font-size-normal;
    }

    h5 {
        font-size: $font-size-small;
    }

    h6 {
        font-size: $font-size-smallest;
    }

    // Lists

    ul,
    ol {
        margin: 0 0 space(1/4) space();
    }

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }

    li {
        margin-bottom: space(1/4);
    }

    li > ul,
    li > ol {
        margin-bottom: 0;
        margin-left: space();
        font-size: 0.95em;

        > li {
            margin-bottom: 0;
        }
    }

    dl {
        margin-bottom: space(1/4);
    }

    dt {
        font-weight: bold;
    }

    dd {
        margin: 0 0 space(1/4);
    }

    // Tables

    table {
        margin: 0 0 space();
        font-feature-settings: "kern", "liga", "tnum";
    }

    th {
        border-bottom: 1px solid shade($base-border-color, 15%);
        font-weight: bold;
        padding: space(1/4) 0;
        text-align: left;
    }

    td {
        border-bottom: $base-border;
        padding: space(1/4) space(1/2);
    }

    tr,
    td,
    th {
        vertical-align: middle;
    }

    // Miscellaneous Elements

    small {
        color: $base-muted-color;
    }

    hr {
        border-bottom: $base-border;
        border-left: none;
        border-right: none;
        border-top: none;
        margin: $base-spacing 0;
    }

    blockquote {
        border-left: 2px solid $base-border-color;
        color: tint($base-font-color, 15%);
        margin: $base-spacing 0;
        padding-left: space(1/2);
    }

    cite {
        color: tint($base-font-color, 25%);
        font-style: italic;

        &::before {
            content: "\2014 \00A0";
        }
    }
}
