body {
    background-color: $base-background-color;
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

%header {
    margin: 0;
    font-family: $header-font-family;
    text-rendering: optimizeLegibility;
}

h1, .h1 {
    @extend %header;
    margin-bottom: space(0.5, $font-size-biggest);
    @include font-size($font-size-biggest, auto);
}

h2, .h2 {
    @extend %header;
    margin-bottom: space(0.25, $font-size-bigger);
    @include font-size($font-size-bigger, auto);
}

h3, .h3 {
    @extend %header;
    margin-bottom: space(0.25, $font-size-big);
    @include font-size($font-size-big, auto);
}

h4, .h4 {
    @extend %header;
    @include font-size($font-size-normal, auto);
}

h5, .h5 {
    @extend %header;
    @include font-size($font-size-small, auto);
}

h6, .h6 {
    @extend %header;
    @include font-size($font-size-smallest, auto);
}

p {
    margin: 0 0 space(0.5);
}

a {
    color: $base-link-color;
    text-decoration: none;
    transition: color $base-transition;

    &:hover, &:active, &:focus {
        color: $hover-link-color;
    }
}

small {
    color: $base-muted-color;
}

hr {
    border-bottom: $base-border;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: $base-spacing 0;
}

blockquote {
    border-left: 2px solid $base-border-color;
    color: tint($base-font-color, 15%);
    margin: $base-spacing 0;
    padding-left: space(0.5);
}

cite {
    color: tint($base-font-color, 25%);
    font-style: italic;

    &:before {
        content: "\2014 \00A0";
    }
}
