.svg {
    font-size: 10px;
}

.svg:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../images/svg-sprites.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .svg:before {
    background-image: url("../images/svg-sprites.png");
}

