:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll; }

*,
*:before,
*:after {
  box-sizing: inherit;
  border-style: solid;
  border-width: 0; }

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

html {
  box-sizing: border-box;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
          font-feature-settings: "kern", "liga", "pnum";
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default; }

body {
  font-size: 16px; }

main,
summary {
  display: block; }

pre {
  overflow: auto; }

h1,
h2,
h3,
h4 {
  text-rendering: optimizeLegibility; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

nav ol,
nav ul {
  list-style: none; }

nav li {
  display: inline-block; }

a {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%;
  height: auto;
  margin: 0;
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

input[type="number"] {
  width: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

textarea {
  overflow: auto;
  resize: vertical; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

::-moz-selection {
  text-shadow: none; }

::selection {
  text-shadow: none; }

[hidden] {
  display: none; }

[unselectable] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

@media screen {
  [hidden~="screen"] {
    display: inherit; }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important; } }

.field-group, .field--inline {
  overflow: hidden; }

body {
  background-color: white;
  color: #222;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif; }

h1, .h1 {
  margin-bottom: 0.42857em;
  font-size: 1.75em;
  line-height: 1.07143; }

h2, .h2 {
  margin-bottom: 0.25em;
  font-size: 1.5em;
  line-height: 1; }

h3, .h3 {
  margin-bottom: 0.33333em;
  font-size: 1.125em;
  line-height: 1; }

h4, .h4 {
  font-size: 1em;
  line-height: 1.125; }

h5, .h5 {
  font-size: 0.875em;
  line-height: 1.28571; }

h6, .h6 {
  font-size: 0.6875em;
  line-height: 1.09091; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.2s cubic-bezier(0.2, 0.07, 0.1, 1.025);
          transition: color 0.2s cubic-bezier(0.2, 0.07, 0.1, 1.025); }
  a:hover {
    color: #3c6aab; }
  a:active, a:focus {
    color: #3c6aab;
    outline: none; }

small {
  color: #999; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

blockquote {
  border-left: 2px solid #ddd;
  color: #434343;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #595959;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #e0e0e0;
  border: 1px solid #ddd;
  margin: 0 0 0.75em 0;
  padding: 0.75em; }

input,
label,
select,
textarea {
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #999; }

label {
  font-weight: bold; }
  label.required:after {
    content: "*";
    color: #999; }

textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="file"],
select[multiple=multiple] {
  width: 100%;
  margin: 0;
  padding: 0.375em 0.75em;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: white;
  -webkit-transition: border-color;
          transition: border-color; }
  textarea:hover,
  input[type="email"]:hover,
  input[type="number"]:hover,
  input[type="password"]:hover,
  input[type="search"]:hover,
  input[type="tel"]:hover,
  input[type="text"]:hover,
  input[type="url"]:hover,
  input[type="file"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c6c6c6; }
  textarea:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="text"]:focus,
  input[type="url"]:focus,
  input[type="file"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 5px rgba(67, 118, 191, 0.7);
    outline: none; }
  textarea::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="number"]::-webkit-input-placeholder,
  input[type="password"]::-webkit-input-placeholder,
  input[type="search"]::-webkit-input-placeholder,
  input[type="tel"]::-webkit-input-placeholder,
  input[type="text"]::-webkit-input-placeholder,
  input[type="url"]::-webkit-input-placeholder,
  input[type="file"]::-webkit-input-placeholder,
  select[multiple=multiple]::-webkit-input-placeholder {
    color: #999; }
  textarea::-moz-placeholder,
  input[type="email"]::-moz-placeholder,
  input[type="number"]::-moz-placeholder,
  input[type="password"]::-moz-placeholder,
  input[type="search"]::-moz-placeholder,
  input[type="tel"]::-moz-placeholder,
  input[type="text"]::-moz-placeholder,
  input[type="url"]::-moz-placeholder,
  input[type="file"]::-moz-placeholder,
  select[multiple=multiple]::-moz-placeholder {
    color: #999; }
  textarea:-ms-input-placeholder,
  input[type="email"]:-ms-input-placeholder,
  input[type="number"]:-ms-input-placeholder,
  input[type="password"]:-ms-input-placeholder,
  input[type="search"]:-ms-input-placeholder,
  input[type="tel"]:-ms-input-placeholder,
  input[type="text"]:-ms-input-placeholder,
  input[type="url"]:-ms-input-placeholder,
  input[type="file"]:-ms-input-placeholder,
  select[multiple=multiple]:-ms-input-placeholder {
    color: #999; }
  textarea::placeholder,
  input[type="email"]::placeholder,
  input[type="number"]::placeholder,
  input[type="password"]::placeholder,
  input[type="search"]::placeholder,
  input[type="tel"]::placeholder,
  input[type="text"]::placeholder,
  input[type="url"]::placeholder,
  input[type="file"]::placeholder,
  select[multiple=multiple]::placeholder {
    color: #999; }

textarea {
  height: auto; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

select {
  width: 100%;
  border: 1px solid #ddd; }

.field, .field--inline, .field--inplace {
  margin-bottom: 1.125em; }
  .field .msg, .field--inline .msg, .field--inplace .msg {
    position: relative;
    z-index: -1;
    margin: -3px 0 0;
    padding: 0.64615em 0.61538em 0.46154em;
    border-radius: 0 0 3px 3px; }

.field-group {
  margin-bottom: 1.125em; }
  .field-group .field, .field-group .field--inline, .field-group .field--inplace {
    float: left;
    margin: 0;
    width: 50%; }
    .field-group .field:first-child, .field-group .field--inline:first-child, .field-group .field--inplace:first-child {
      padding-right: 0.5625em; }
    .field-group .field:last-child, .field-group .field--inline:last-child, .field-group .field--inplace:last-child {
      padding-left: 0.5625em; }

@media (max-width: 695px) {
  .field--inline label {
    float: left;
    width: 25%; }
  .field--inline textarea,
  .field--inline input[type="email"],
  .field--inline input[type="number"],
  .field--inline input[type="password"],
  .field--inline input[type="search"],
  .field--inline input[type="tel"],
  .field--inline input[type="text"],
  .field--inline input[type="url"],
  .field--inline input[type="file"],
  .field--inline select[multiple=multiple],
  .field--inline select {
    float: left;
    width: 75%; } }

.field--inplace {
  position: relative; }
  .field--inplace label {
    position: absolute;
    left: 1px;
    top: 1px;
    padding: 0.5em 1em;
    font-size: 0.75em;
    line-height: 2em;
    font-weight: normal;
    color: #999;
    cursor: text; }

.button-set {
  text-align: right; }
  .button-set a,
  .button-set button,
  .button-set input {
    margin-left: 1em;
    vertical-align: middle; }
  .button-set a:not(.button) {
    font-size: 0.85em; }

table {
  margin: 0 0 1.5em;
  -webkit-font-feature-settings: "kern", "liga", "tnum";
          font-feature-settings: "kern", "liga", "tnum"; }

th {
  border-bottom: 1px solid #bbbbbb;
  font-weight: bold;
  padding: 0.375em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.375em 0.75em; }

tr,
td,
th {
  vertical-align: middle; }

ul, ol {
  margin: 0 0 0.375em 1.875em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li {
  margin-bottom: 0.375em; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
  font-size: 0.95em; }
  li > ul > li,
  li > ol > li {
    margin-bottom: 0; }

dl {
  margin-bottom: 0.375em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 0 0.375em; }

button,
input[type="button"],
input[type="submit"],
input[type="cancel"], a.button {
  display: inline-block;
  padding: 0.75em 1em;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: #fff;
  background-color: #477dca;
  border: none;
  border-radius: 3px; }
  button:focus,
  input[type="button"]:focus,
  input[type="submit"]:focus,
  input[type="cancel"]:focus,
  a.button:focus,
  button:hover,
  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="cancel"]:hover, a.button:hover {
    background-color: #3c6aab;
    color: #fff;
    outline: none; }
  button:disabled,
  input[type="button"]:disabled,
  input[type="submit"]:disabled,
  input[type="cancel"]:disabled, a.button:disabled {
    cursor: not-allowed;
    opacity: 0.6; }

button,
input[type="button"],
input[type="submit"],
input[type="cancel"] {
  -webkit-appearance: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/**
 * Burger parts
 *
 * (---) top    -> &:before
 * [---] middle -> &
 * (---) bottom -> &:after
 */
/**
 * Burger
 */
/**
 * Select parts of the burger
 */
/**
 * Burger animations
 */
.skip-link {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  padding: 1em 1.5em 0.75em;
  font-size: 0.875em;
  background: #fff;
  box-shadow: 2px 2px 8px #ddd; }

.wrapper {
  overflow: hidden;
  max-width: 75em;
  min-width: 320px;
  margin: 0 auto;
  padding: 3em; }

#content {
  clear: both;
  outline: none; }

/*# sourceMappingURL=site.css.map */