// Buttons
// -------

.btn,
button,
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    display: inline-block;
    width: auto;
    @include rem(height, lines(1.5));
    margin: 0;
    padding: 0 2em;
    font-family: $subtitle-face;
    @include font-size-times(0.75, 1.5);
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: $background;
    background-color: lighten($text-color, 5%);
    border: 0;
    transition: all 0.2s;

    &:hover,
    &:focus {
        background-color: $link-color;
        color: $background;
    }

    &:active {
        transition: none;
    }

    // Disabled state
    &.disabled, &[disabled] {
        cursor: default;
        background-image: none;
        box-shadow: none !important;
    }
}

.btn-tiny {
    @include rem(height, lines());
    padding: 0 0.5em;
    @include font-size-times(0.6, 1);
    border-radius: 3px;
}

.btn-angled {
    height: lines(3);
    transform: skewX(-15deg);
    border-radius: 2px;

    span {
        display: block;
        padding: lines(0.5) 0;
        @include font-size-plus(1px, 1);
        font-weight: normal;
        text-transform: none;
        letter-spacing: 0.15em;
        transform: skewX(22deg);
    }

    strong {
        display: block;
        font-size: 1.05em;
        text-transform: uppercase;

        &:before,
        &:after {
            content: "\2014";
            margin: 0 0.5em;
            font-weight: normal;
        }
    }
}

// Set the backgrounds
// -------------------------
.btn-primary {
    background: $highlight-color;
}

// Danger and error appear as red
.btn-danger {
    background: $danger-color;
}

$orange: #945530;
.btn-orange {
    background: $orange;
    background: linear-gradient(lighten($orange, 8%), darken($orange, 8%));
    border: $light-color;
    transition: all 0.2s;

    &:hover,
    &:focus {
        background: saturate($orange, 15%);
        background: linear-gradient(saturate(lighten($orange, 10%), 15%), saturate(darken($orange, 8%), 15%));
    }
}

$purple: #6c5763;
.btn-purple {
    background: $purple;
    background: linear-gradient(lighten($purple, 8%), darken($purple, 8%));
    border: $light-color;
    transition: all 0.2s;

    &:hover,
    &:focus {
        background: saturate($purple, 15%);
        background: linear-gradient(saturate(lighten($purple, 10%), 15%), saturate(darken($purple, 8%), 15%));
    }
}

// Button Groups
// ----------------

.button-set {
    padding: lines(0.5, 1) 0 0;
    margin-top: $line-height;
    margin-bottom: $line-height;
    border-top: $rule;
}