// HORIZONTAL & VERTICAL FORMS
// ---------------------------

// Reset default <dl> styling
form {
    dl, dt, dd {
        margin: 0;
        font-weight: normal;
    }
}


// Inline Forms
// ------------

// .inline {
//     dl {
//         display: inline-block;
//         width: 14em;
//         margin-bottom: 0;
//         vertical-align: top;
//     }

//     input,
//     textarea,
//     select,
//     .help-inline,
//     .uneditable-input {
//         width: 100%;
//         margin-bottom: 0;
//         vertical-align: top;
//     }
//     // Re-hide hidden elements due to specifity
//     .hide {
//         display: none;
//     }

//     button, .btn {
//         vertical-align: top;
//     }

//     label, .btn-group {
//         display: inline-block;
//     }
//     // Remove margin for input-prepend/-append
//     .input-append, .input-prepend {
//         margin-bottom: 0;
//     }
//     // Inline checkbox/radio labels (remove padding on left)
//     .radio, .checkbox {
//         padding-left: 0;
//         margin-bottom: 0;
//         vertical-align: middle;
//     }
//     // Remove float and margin, set to inline-block
//     .radio input[type="radio"], .checkbox input[type="checkbox"] {
//         float: left;
//         margin-right: 3px;
//         margin-left: 0;
//     }
// }

// Horizontal-specific styles
// --------------------------

// $horizontalComponentOffset: 200px;

// .form-horizontal {
//     dl {
//         clear: both;
//         @include pie-clearfix;
//         margin: ($line-height / 2) 0;
//         padding-left: $horizontalComponentOffset;
//     }
//     dt {
//         float: left;
//         width: $horizontalComponentOffset - 20px;
//         margin-left: $horizontalComponentOffset;

//         label {
//             line-height: $line-height * 0.5;
//         }
//     }
//     dd {
//         float: left;
//         position: relative;
//         width: 100%;
//         margin-bottom: $line-height / 2;

//         // Small labels below the input
//         label {
//             position: absolute;
//             bottom: 0;
//             margin-left: 1px;
//             font-size: $font-size * 0.75 - 2;
//             line-height: $line-height * 0.5;
//         }

//         input, textarea {
//             width: 100%;
//         }

//         label + input, label + textarea, label + select {
//             margin-bottom: $line-height / 2;
//         }

//         &.half, &.quarter {
//             width: 49%;
//             margin-right: 2%;

//             input, textarea {
//                 width: 100%;
//             }

//         }

//         &.quarter {
//             width: 23.7%;
//         }

//         &.last {
//             margin-right: 0;
//         }
//     }
// }


// Vertical-specific styles
// --------------------------

// .form-vertical {
//     dl.full {
//         input, textarea {
//             width: 98.5%;
//         }
//     }
//     dl.half {
//         float: left;
//         width: 49%;

//         input, textarea {
//             width: 97%;
//         }
//     }
//     dl.last {
//         float: right;
//     }
//     dl {
//         margin-bottom: 0.5em;
//     }
//     dd {
//         label {
//             font-size: $font-size * 0.75;
//             line-height: $line-height * 0.75;
//         }
//     }
// }

// In-Place Form Labels
// --------------------

.in-place {
    position: relative;

    dt {
        position: absolute;
        left: 1px;
        top: 0;
        padding-left: gutters(0.25);
    }

    label {
        cursor: text;
    }
}