// Base Colors
$c-black: #333;
$c-white: #fff;
$c-gray: #999;
$c-gray-light: tint($c-gray, 20%);
$c-gray-dark: shade($c-gray, 20%);
$c-primary: #477dca;
$c-primary-light: tint($c-primary, 15%);
$c-primary-dark: shade($c-primary, 15%);
$c-secondary: #a44;
$c-tertiary: #4a4;

// Common contexts
$c-text: $c-black;
$c-link: $c-primary;
$c-link-active: $c-primary-dark;
$c-border: $c-gray-light;
$c-warning: #a44;
