// Sizing
$base-size: 16px;
$base-spacing: $base-size * 1.5; // 24px;
$base-margin: rem($base-spacing);

// Overal dimensions
$max-page-width: rem(1350);
$page-padding-narrow: rem($base-size);
$page-padding-wide: rem($base-size * 3);

// Breakpoints
$break-1: rem(360px);
$break-2: rem(450px);
$break-3: rem(1000px);
$break-4: rem(1250px);

// Breakpoint shortcuts
$tiny-only: "max-width: #{$break-1}";
$small-only: "min-width: #{$break-1 + 0.1}) and (max-width: #{$break-2}";
$small-down: "max-width: #{$break-2}";
$small-up: "min-width: #{$break-1 + 0.1}";
$medium-only: "min-width: #{$break-2 + 0.1}) and (max-width: #{$break-3}";
$medium-down: "max-width: #{$break-3}";
$medium-up: "min-width: #{$break-2 + 0.1}";
$large-only: "min-width: #{$break-3 + 0.1}) and (max-width: #{$break-4}";
$large-down: "max-width: #{$break-4}";
$large-up: "min-width: #{$break-3 + 0.1}";
$xlarge-only: "min-width: #{$break-4 + 0.1}";

