// Font families
$ff-normal: Georgia, Times, serif;
$ff-header: Helvetica, Arial, sans-serif;

// Specific font sizes
$fs-biggest: 36px;
$fs-bigger: 24px;
$fs-big: 18px;
$fs-normal: 16px;
$fs-small: 14px;
$fs-smaller: 12px;
$fs-smallest: 11px;

// Line heights
$lh-normal: 1.5;
$lh-tight: 1.25;
$lh-loose: 1.667;

// Weights
$fw-normal: normal;
$fw-light: 300;
$fw-bold: 600;
