// Font settings
$fonts: (
    main: (
        family: "Times, serif",
        base-size: 1,
        line-height: 1.5,
        weights: (
            normal: 500,
            bold: 700
        )
    ),
    header: (
        family: "Helvetica, Arial, sans-serif",
        base-size: 1,
        line-height: 1.25,
        weights: (
            normal: 500,
            bold: 700
        )
    )
);

// Specific font sizes
$font-sizes: (
    biggest: 36px,
    bigger: 24px,
    big: 18px,
    normal: 16px,
    small: 14px,
    smaller: 12px,
    smallest: 11px
);
