.skip-link {
    position: fixed;
    z-index: 1000;
    top: -100em;
    left: 0;
    padding: 1em 1.5em 0.75em;
    font-size: $font-size-small;
    background: $white;
    box-shadow: 2px 2px 8px $gray-light;

    &:focus {
        top: 0;
    }
}

.browserupgrade {
    width: 100%;
    padding: space(0.25) space();
    font-size: $font-size-small;
    font-weight: bold;
    text-align: center;
    color: $base-background-color;
    background-color: $base-accent-color;

    a {
        color: inherit;
        text-decoration: underline;
    }
}

.wrapper {
    @include clearfix;
    max-width: $page-width;
    min-width: 320px;
    margin: 0 auto;
    padding: $page-padding;
}

#content {
    clear: both;
    // We have to make it focusable for skip link, but want to hide the outline
    outline: none;
}
