// Responsive-ify images and embeds
img {
    position: relative;
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}

object, iframe {
    position: relative;
    max-width: 100%;
}