body {
    font-feature-settings: "kern", "liga", "pnum";
    background-color: $base-background-color;
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: $header-font-family;
}

h1, .h1 {
    @include font-size($h1-font-size, auto);
    margin-bottom: space(1, $h1-font-size);
}

h2, .h2 {
    @include font-size($h2-font-size, auto);
    margin-bottom: space(0.5, $h2-font-size);
}

h3, .h3 {
    @include font-size($h3-font-size, auto);
    margin-bottom: space(0.25, $h3-font-size);
}

h4, .h4 {
    @include font-size($h4-font-size, auto);
}

h5, .h5 {
    @include font-size($h6-font-size, auto);
}

h6, .h6 {
    @include font-size($h6-font-size, auto);
}

p {
    margin: 0 0 space(0.5);
}

a {
    color: $base-link-color;
    text-decoration: none;
    transition: color $base-transition;
    &:hover {
        color: $hover-link-color;
    }
    &:active, &:focus {
        color: $hover-link-color;
        outline: none;
    }
}

small {
    color: $base-muted-color;
}

hr {
    border-bottom: $base-border;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: $base-spacing 0;
}

img,
picture {
    margin: 0;
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}

blockquote {
    border-left: 2px solid $base-border-color;
    color: lighten($base-font-color, 15);
    margin: $base-spacing 0;
    padding-left: $base-spacing / 2;
}

cite {
    color: lighten($base-font-color, 25);
    font-style: italic;

    &:before {
        content: "\2014 \00A0";
    }
}
