// Font settings
$fonts: (
    body: (
        family: Times, serif,
        line-height: 1.5,
        weights: (
            normal: 500,
            bold: 700
        )
    ),
    header: (
        family: Helvetica, Arial, sans-serif,
        line-height: 1.25,
        weights: (
            normal: 500,
            bold: 700
        )
    )
);

// Base sizes
$base-font-size: 16px;
$base-line-height: 1.5; // 24px

// Specific font sizes
$font-sizes: (
    huge: 2rem,
    bigger: 1.75rem,
    big: 1.5rem,
    normal: 1rem,
    small: 0.875rem,
    smaller: 0.75rem,
    tiny: 0.6875rem
);

// Map functions
@mixin font($key: body, $weight: null) {
    $font: map-get($fonts, $key);

    font-family: map-get($font, family);
    line-height: map-get($font, line-height);

    @if ($weight) {
        $weights: map-get($font, weights);
        @if map-has-key($weights, $weight) {
            font-weight: map-get($weights, $weight);
        }
    }
}

@function font-size($key) {
    @if map-has-key($font-sizes, $key) {
        @return map-get($font-sizes, $key);
    }

    @warn "Unknown font size: #{$key}";
    @return null;
}
