// Typography
$base-font-family: Helvetica, Arial, sans-serif;
$header-font-family: $base-font-family;

// Sizing
$base-size: 16px;
$base-spacing: $base-size * 1.5; // 24px;
$base-margin: $base-spacing;

// Font Sizes
$font-size-biggest: 28px;
$font-size-bigger: 24px;
$font-size-big: 18px;
$font-size-normal: 16px;
$font-size-small: 14px;
$font-size-smaller: 12px;
$font-size-smallest: 11px;

// Line height
$base-line-height: 1.5;       // 24px
$line-height-tight: 1.25;     // 20px

// Other Sizes
$base-border-radius: 3px;
$base-z-index: 0;

// Colors
$blue: #477dca;
$blue-dark: shade($blue, 15%);
$red: #a44;
$white: #fff;
$black: #222;
$gray: #999;
$gray-dark: #555;
$gray-light: #ddd;

// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: $black;
$base-accent-color: $blue;
$base-muted-color: $gray;
$base-warning-color: $red;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: $blue-dark;
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $gray-light;
$base-border: 1px solid $base-border-color;

// Transitions
$base-duration: 0.2s;
$duration-slow: 0.45s;
$base-easing: cubic-bezier(0.14, 0.005, 0.14, 1);
$base-transition: $base-duration $base-easing;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: shade($base-border-color, 10%);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black, 0.1);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(shade($form-border-color-focus, 5%), 0.7);
$form-font-size: $font-size-normal;
$form-font-family: $base-font-family;

// Overal dimensions
$page-width: 1200px;
$page-padding: $base-size * 3;

// Breakpoints
$break-1: 420px;
$break-2: 695px;
$break-3: 900px;
$break-4: 1200px;

// Breakpoint shortcuts
$tiny-only: max-width $break-1;
$small-only: $break-1+1 $break-2;
$small-down: max-width $break-2;
$small-up: $break-1+1;
$medium-only: $break-2+1 $break-3;
$medium-down: max-width $break-3;
$medium-up: $break-2+1;
$large-only: $break-3+1 $break-4;
$large-down: max-width $break-4;
$large-up: $break-3+1;
$xlarge-only: $break-4+1;
