.intro {
    text-align: center;

    .wrapper {
        max-width: $page-min-width * 1.55;
    }

    .feature {
        font-family: $title-face;
        font-size: 1.25em;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.banner {
    background: $link-color;
    background: linear-gradient(
        #c85429,
        #f26631 22%,
        #e4602e 22%,
        #e4602e 78%,
        #f26631 78%,
        #c85429 100%
    );

    .wrapper {
        padding: lines(1);
        height: lines(16.5);
    }

    .photos {
        position: relative;
        float: left;
        width: 53%;
        margin-left: -5%;
    }

    img {
        position: absolute;
        box-shadow: 0 2px 6px rgba(black, 0.3);

        &.photo-main {
            top: 0;
            height: auto;
            left: 50%;
            margin-left: -120px;
            z-index: 10;
            box-shadow: 0 2px 10px rgba(black, 0.5);
        }

        &.photo-left {
            top: lines(2);
            left: 0;
            transform: rotate(-10deg);
        }

        &.photo-right {
            top: lines(2);
            right: 0;
            transform: rotate(10deg);
        }
    }

    h2 {
        float: right;
        width: 48%;
        padding: lines(5) 0;
        @include font-size-times(1.4, 1.5);
        color: white;
    }

    @media (max-width: 900px) {
        .photos {
            width: auto;
            margin-left: 0;
            margin-right: gutters();
        }

        img.photo-main {
            position: static;
            left: 0;
            margin-left: 0;
        }

        img.photo-right,
        img.photo-left {
            display: none;
        }

        h2 {
            float: none;
            width: auto;
        }
    }

    @media (max-width: 720px) {
        h2 {
            padding: lines(3.5) 0;
        }
    }

    @media (max-width: 645px) {
        h2 {
            padding: lines(3) 0;
        }
    }
}

.entry {
    text-align: center;
    padding: lines(1.5) 0 lines(0.5);
    background: image-url("map.jpg") repeat-x;

    .wrapper {
        max-width: $page-min-width;
    }

    h2 {
        @include font-size-times(1.75, 1.5);
        text-decoration: underline;
    }
}

.social {
    margin-top: lines(2);

    h3 {
        display: inline;
        margin-right: gutters();
        font-family: $text-face;
        @include font-size-times(1.6, 1.5);
        font-weight: normal;
        text-transform: none;
        letter-spacing: 0;
    }

    a {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin: 0 0.25em;
        line-height: lines(1.5);
        background: image-url("social-icons.png") no-repeat 0 0;
        text-indent: -9999px;
    }

    .icon-twitter { background-position: -32px 0 }
    .icon-pinterest { background-position: -64px 0 }
    .icon-youtube { background-position: -96px 0 }
}