$sprite: (
    width: 512px,
    height: 1536px,
    svgPath: '../images/sprites-a8dda0f0.svg',
    pngPath: '../images/sprites-a8dda0f0.png'
);
$sprites: (
    airplane: (width: 512px, height: 512px, offsetX: 0px, offsetY: 0px),
    arrow-down5: (width: 512px, height: 512px, offsetX: 0px, offsetY: -512px),
    basket: (width: 512px, height: 512px, offsetX: 0px, offsetY: -1024px),
);
