$sprite: (
    width: 512px,
    height: 560px,
    pngPath: '../images/sprites.png',
    svgPath: '../images/sprites.svg'
);
$sprites: (
    add: (width: 48px, height: 48px, offsetX: 0px, offsetY: 0px),
    address-book: (width: 512px, height: 512px, offsetX: 0px, offsetY: -48px),
);
