:root,
html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-y: scroll;
    text-size-adjust: 100%;
    box-sizing: border-box;
    font-feature-settings: "kern", "liga", "pnum";
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
::before,
::after {
    box-sizing: inherit;
    border-style: solid;
    border-width: 0;
}

* {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

::before,
::after {
    text-decoration: inherit;
    vertical-align: inherit;
}

main,
summary {
    display: block;
}

audio,
canvas,
progress,
video,
iframe,
img,
svg {
    display: inline-block;
    vertical-align: middle;
}

audio:not([controls]) {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

a {
    background-color: transparent;

    &:active,
    &:hover {
        outline: 0;
    }
}

b,
strong {
    font-weight: bold;
}

abbr[title] {
    border-bottom: 1px dotted;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

pre {
    overflow: auto;
}

svg:not(:root) {
    overflow: hidden;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
}

input {
    &[type="number"] {
        width: auto;
    }

    &[type="search"] {
        -webkit-appearance: textfield;

        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration {
            -webkit-appearance: none;
        }
    }
}

button {
    overflow: visible;
}

textarea {
    overflow: auto;
    resize: vertical;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;

    &::-ms-expand {
        display: none;
    }

    &::-ms-value {
        color: currentColor;
    }
}

[hidden],
template {
    display: none;
}
