// Class for <IE9 sprite fallback
$noSvgClass: '.no-svg' !default;

%sprite {
    display: inline-block;
    background-image: url(map-get($sprite, svgPath));
    background-size: map-get($sprite, width) map-get($sprite, height);
}

%png-sprite {
    background-image: url(map-get($sprite, pngPath));
}

// Retrive a specific sprite from the sprite map
@function get-sprite($sprite) {
    $newsprite: map-get($sprites, $sprite);
    @if $newsprite == null {
        @warn "Can't find an sprite with the name #{$sprite}";
    }
    @return $newsprite;
}

// Output the sprite rules to the stylesheet
@mixin sprite($sprite, $type: all) {
    $spriteMap: get-sprite($sprite);

    @if ($type == all) {
        // Shares the backgrounds
        @extend %sprite;

        // Add png fallback
        @if ($noSvgClass) {
            #{$noSvgClass} & {
                @extend %png-sprite;
            }
        }
    }

    // Outputs dimensions
    @if ($type == all or $type == size) {
        width: map-get($spriteMap, width);
        height: map-get($spriteMap, height);
    }

    // Outputs background position
    @if ($type == all or $type == pos) {
        background-position: map-get($spriteMap, offsetX) map-get($spriteMap, offsetY);
    }
}
