body {
    font-family: $ff-normal;
    font-size: $fs-normal;
    line-height: $lh-normal;
    color: $c-text;
}

* + * {
    margin-top: size();
}

p,
li,
blockquote {
    hanging-punctuation: first;
}

a {
    @include link-colors($c-link, $c-link-active);
    transition: all $t-normal;
}
