*,
::before,
::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}

::before,
::after {
    text-decoration: inherit;
    vertical-align: inherit;
}

html {
    box-sizing: border-box;
    cursor: default;
    overflow-y: scroll;
    min-height: 100%;
}

body {
    margin: 0;
}

a {
    &:active,
    &:hover {
        outline-width: 0;
    }
}

nav ol,
nav ul {
    list-style: none;
}

button,
input,
select,
textarea {
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

// Remove the text shadow on text selections
::selection {
    background-color: #b3d4fc;
    color: #000000;
    text-shadow: none;
}

// Remove the tapping delay on clickable elements
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
